.jumbotron {
    background-color: orange;
    color: white;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.user-profile-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.card.shadow-sm {
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

.col-md-6 {
    padding: 20px;
}

.mb-3.text-center {
    font-size: 28px;
    margin-top: -10px;
}

.form-group {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        color: #777;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
        border: none;
        background: transparent;
        font-size: 16px;
        padding: 0;
    }

.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Consistent with mt-3 */
}

.btn-submit {
    background-color: #FF8C00;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 10px;
}